
.tablaMensajes {
    position: absolute;
  width: 500px;
  margin-bottom: 50px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 10%);
}
.codigo{
    
    font-size: 80%
}
.men{
    font-size: 150%
}
.cuerpo{
   
    font-size: 110%
}


